Repository undead404/ukraiinska-nova: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

fix undefined
  src/scripts/collect-missing-artists/index.ts
Due: eslint --fix

adjust commit message
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
Due: prettier --write

no popularity in posts
  src/helpers/map-releases-to-posts.ts
Due: eslint --fix

no-rebase in pipeline
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
Due: prettier --write

more stability in tags
  src/services/lastfm/get-artists-tags.ts
Due: eslint --fix

clearer auto-commit message
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
Due: prettier --write

save only if there is something to save
  src/scripts/retrieve-releases-youtube-music/index.ts
Due: eslint --fix

Revert "save only if there is something to save"
  src/scripts/retrieve-releases-youtube-music/index.ts
Due: eslint --fix

more artists
  artist-ids.csv
Due: none

persist old tags in old records
  src/helpers/merge-old-and-new-releases.ts
Due: eslint --fix

persist old tags in refound records
  src/helpers/merge-old-and-new-releases.ts
Due: eslint --fix

fix rabbit leader
  artist-ids.csv
Due: none

Adjust post template
  docs/_posts/2025-09-24-releases.md
  src/post-template.md.mustache
Due: prettier --write

better today date check
  docs/_posts/2025-09-24-releases.md
  src/helpers/are-dates-same-day.ts
  src/scripts/create-post/get-today-releases.ts
Due: eslint --fix, prettier --write

blacklist NSBM tag
  src/helpers/is-tag-blacklisted.ts
Due: eslint --fix

ignore type for Youtube Music
  src/helpers/map-releases-to-posts.ts
  src/scripts/retrieve-releases-youtube-music/index.ts
Due: eslint --fix

fix src import
  src/scripts/create-post/get-today-releases.ts
Due: eslint --fix

fix areDatesSameDay helper
  docs/_posts/2025-09-24-releases.md
  src/helpers/are-dates-same-day.ts
Due: eslint --fix, prettier --write

fix Mommy Buys a Dance Machine
  artist-ids.csv
Due: none

fix Alexander Chorny
  artist-ids.csv
Due: none

add & fix artists
  artist-ids.csv
Due: none

allow zero-track releases
  docs/_posts/2025-09-25-releases.md
  src/common/schemata.ts
Due: eslint --fix, prettier --write

fix IKSTINA
  artist-ids.csv
Due: none

fix Olya Polyakova
  artist-ids.csv
Due: none

fix Tony Tonite
  artist-ids.csv
Due: none

remove Марія Чайковська
  artist-ids.csv
Due: none

fix поливокс
  artist-ids.csv
Due: none

use factor 2 for retry
  src/services/lastfm/fetch-from-lastfm.ts
Due: eslint --fix

treat YTM bursts differently
  src/helpers/calculate-release-identity.ts
  src/helpers/merge-old-and-new-releases.ts
Due: eslint --fix

remove Andi Vax
  artist-ids.csv
Due: none
