Repository undead404/ukraiinska-nova: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

more artists
  .vscode/settings.json
  artist-ids.csv
Due: prettier --write

remove 4ERDAK
  artist-ids.csv
Due: none

tags' whitelist
  blacklisted-tags.txt
  src/helpers/is-tag-blacklisted.ts
  src/helpers/is-tag-whitelisted.ts
  src/helpers/normalize-tags.ts
  whitelisted-tags.txt
Due: eslint --fix

filter out russian
  src/helpers/does-post-contain-russian.ts
  src/helpers/map-releases-to-posts.ts
Due: eslint --fix

remove KRBK & dim.slavyanin
  artist-ids.csv
Due: none

remove Lil 8
  artist-ids.csv
Due: none

remove HDSH
  artist-ids.csv
Due: none

more artists
  artist-ids.csv
Due: none

ignore everything before 2022-02-24
  src/helpers/ignore-old-releases.test.ts
  src/helpers/ignore-old-releases.ts
  src/scripts/collect-artist-ids/read-artists.test.ts
  src/scripts/retrieve-releases-spotify/index.ts
  src/services/lastfm/get-artists-popularity.test.ts
Due: eslint --fix

proper ignoreOldReleases type
  src/helpers/ignore-old-releases.ts
Due: eslint --fix

remove Reproduczija
  artist-ids.csv
Due: none

more artists
  artist-ids.csv
  whitelisted-tags.txt
Due: none

fix FastLOW
  artist-ids.csv
Due: none

remove it'e
  artist-ids.csv
Due: none

ignore old releases for YTM
  src/scripts/retrieve-releases-youtube-music/index.ts
Due: eslint --fix

ignore type for YTM
  src/scripts/retrieve-releases-youtube-music/index.ts
Due: eslint --fix

fix DILLA DANK
  artist-ids.csv
Due: none

fix G Glizzie
  artist-ids.csv
Due: none

remove Doridufist
  artist-ids.csv
Due: none

remove Паша Пм
  artist-ids.csv
Due: none

+300hrnbeatz
  artist-ids.csv
Due: none

whitelisted tags updated
  whitelisted-tags.txt
Due: none

fix Lyuba Yakimchuk
  artist-ids.csv
Due: none

debug spotify
  src/services/spotify.ts
Due: eslint --fix

-Zippy Kid
  artist-ids.csv
Due: none

-Uno Kaya
  artist-ids.csv
Due: none

fix: update ytmusic-api
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: optimize flows
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
Due: prettier --write

fix: consider empty updates
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
Due: prettier --write

fix: no-verify for git commit in pipeline
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  prettier --write: any of: *.{json,css,scss,md,yml}
