Repository undead404/ukraiinska-nova: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

lint-staged in husky
  .husky/pre-commit
Due: none

adjust pnpm install command
  .github/workflows/daily.yml
Due: prettier --write

retrieve releases script
  src/scripts/retrieve-releases/index.ts
Due: eslint --fix

fix TypeScript build
  base.tsconfig.json
  config.tsconfig.json
  eslint.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

fix imports in filter-albums.ts
  base.tsconfig.json
  config.tsconfig.json
  src/helpers/filter-albums.ts
  tsconfig.json
Due: eslint --fix, prettier --write

download artifacts to current folder
  .github/workflows/daily.yml
Due: prettier --write

tricky fixes
  .github/workflows/daily.yml
  src/scripts/post-to-bluesky/map-releases-to-posts.ts
  src/scripts/post-to-telegram/map-releases-to-posts.ts
  src/services/bluesky.ts
  src/services/telegram.ts
Due: eslint --fix, prettier --write

short list of artists in posts
  src/helpers/deduplicate-releases.ts
  src/helpers/filter-albums.ts
  src/helpers/split-text-for-messages.ts
  src/post-template.md.mustache
  src/scripts/create-post/save-post.ts
Due: eslint --fix

artists in index page
  docs/_posts/2025-09-12-releases.md
  docs/_posts/2025-09-13-releases.md
  docs/_posts/2025-09-14-releases.md
  docs/assets/css/main.css
  docs/index.md
  src/post-template.md.mustache
  src/scripts/create-post/save-post.ts
Due: eslint --fix, prettier --write

post images
  docs/_posts/2025-09-12-releases.md
  docs/_posts/2025-09-13-releases.md
  docs/_posts/2025-09-14-releases.md
  docs/assets/css/main.css
  docs/index.md
  src/post-template.md.mustache
  src/scripts/create-post/save-post.ts
Due: eslint --fix, prettier --write

fix get-today-releases
  src/scripts/create-post/get-today-releases.ts
Due: eslint --fix

pass LASTFM_API_KEY to create-post script
  .github/workflows/hourly.yml
Due: prettier --write

fix getTodayReleases
  src/scripts/create-post/get-today-releases.ts
Due: eslint --fix

release outdated releases from output
  docs/_posts/2025-09-17-releases.md
  src/post-template.md.mustache
  src/scripts/create-post/get-earliest-release-appearance-time.ts
  src/scripts/create-post/get-today-releases.ts
Due: eslint --fix, prettier --write

increase Spotify API delay
  src/services/spotify.ts
Due: eslint --fix

less API requests
  data/artists/Bob Croma-6S1vdlBTi03gUzKgAxPiOV.json
  data/artists/Chekson-0UjI2UCXbjgannnEKe4r3k.json
  data/artists/Chychanovsky-6KGp5axGUe9oUFiIsksblb.json
  data/artists/CrossChains-6rV9XnuaXgiCRcbPv36ZSS.json
  data/artists/Cukor Bila Smert'-7IZhS1atGOwOM0zht5PY7J.json
  data/artists/Echteliebe-4aMbgAU6Hnx9hzgQMgoTvz.json
  data/artists/Epolets-09QRMWYyLUALbOUjP5rhUP.json
  data/artists/Eric Deray-4NHoqUSZ4DoivGf1hUFHGG.json
  data/artists/Holy Blood-1tTt8DFLyX4sUKIvYnMg0x.json
  data/artists/Illaria-5itJRNCCLm8EMJGCMnh5iC.json
  data/artists/JKLN-78OSlmY7jGez7noNJe0VPD.json
  data/artists/Jamala-4EXfia20rgVLyubQiYtOIC.json
  data/artists/Jazzforacat-1HBBsjoYQzrpMhLCazhg6d.json
  data/artists/KARTA SVITU-7GnnR3dB7tdyHsIFXnNb6y.json
  data/artists/KOZAK SIROMAHA-4DV5USGPXQCpIsTeC2Iu6B.json
  data/artists/Kolaba-2UsKPH1vTSh7Tzo7qxi08f.json
  data/artists/Lost Message-0UTaetF1mWzpkjQILEBCgt.json
  data/artists/MetaMoreFozzey-4vumxry4Dys7GBPhmXlqWC.json
  data/artists/Nockonsep-6c72AWjkZ7GWSYiV43xBr1.json
  data/artists/ROXOLANA-2N0mbAIb33TV4rvt4TOXe4.json
  data/artists/Secret Avenue-3MuqWgMWco6rwyCSSSrLB2.json
  data/artists/Shamrocks-1Qu1UYHNY9zZOnK4KPCjg5.json
  data/artists/Ubrave-5EjCkJeEak49WQ0jzccLzm.json
  data/artists/Walls & Planets-10LtuilkycdmAh57b2DqIg.json
  data/artists/ummsbiaus-28IEUfGPXBbbcEI4VAUy19.json
  data/artists/Медовий Полин-0kZSUKKwUWbIAKZyJEImwQ.json
  data/artists/ТНМК-2sOErXYVMC4jCWVvBPI19l.json
  data/artists/Тощо-5xtYAoNSDJqff7kKvLp1VZ.json
  src/common/enhance-releases.ts
  src/scripts/create-post/get-earliest-release-appearance-time.ts
  src/scripts/retrieve-releases/open-saved-releases.ts
  src/services/spotify.ts
Due: eslint --fix, prettier --write

stable JSON stringify
  eslint.config.js
  src/helpers/stringify-with-sort.test.ts
  src/helpers/stringify-with-sort.ts
  src/scripts/retrieve-releases/save-releases.ts
  src/services/file-cache.ts
Due: eslint --fix

fix import
  src/services/file-cache.ts
Due: eslint --fix

add Iron Butcher
  artist-ids.csv
Due: none

git pull in create-post
  .github/workflows/hourly.yml
Due: prettier --write

fix post template
  docs/_posts/2025-09-18-releases.md
  docs/_posts/undefined-releases.md
  src/post-template.md.mustache
Due: prettier --write

dedupe artists in posts
  docs/_posts/2025-09-18-releases.md
  src/scripts/create-post/save-post.ts
  src/scripts/retrieve-releases/map-releases-to-posts.ts
Due: eslint --fix, prettier --write

Adjust var names
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
  src/scripts/create-post/types.ts
Due: eslint --fix, prettier --write

adjust GHA vars
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
Due: prettier --write

fix Lastfm error handling
  src/services/lastfm/fetch-from-lastfm.ts
  src/services/lastfm/get-artists-popularity.ts
  src/services/lastfm/get-artists-tags.ts
Due: eslint --fix

fix imports
  src/services/lastfm/fetch-from-lastfm.ts
Due: eslint --fix

remove double URI encoding
  src/services/lastfm/get-artists-popularity.ts
  src/services/lastfm/get-artists-tags.ts
Due: eslint --fix

remove Spotify values from YTM script
  src/scripts/retrieve-releases-youtube-music/environment.ts
Due: eslint --fix

always pull before push
  .github/workflows/spotify.yml
  .github/workflows/youtube-music.yml
Due: prettier --write

less noise in posts
  src/common/post-to-bluesky.ts
  src/common/post-to-telegram.ts
  src/helpers/map-releases-to-posts.ts
Due: eslint --fix

more artists
  artist-ids.csv
  package.json
  src/common/open-saved-releases.ts
  src/scripts/collect-missing-artists/index.ts
  src/scripts/retrieve-releases-spotify/index.ts
  src/scripts/retrieve-releases-youtube-music/index.ts
  src/scripts/retrieve-releases-youtube-music/open-saved-releases.ts
Due: eslint --fix, prettier --write

refresh popularity
  src/helpers/merge-old-and-new-releases.ts
Due: eslint --fix

retry lastfm
  package.json
  pnpm-lock.yaml
  src/services/lastfm/fetch-from-lastfm.ts
Due: eslint --fix, prettier --write

more artists
  artist-ids.csv
Due: none

more artists & proper empty list handling
  artist-ids.csv
  src/common/open-saved-releases.ts
  src/scripts/retrieve-releases-spotify/index.ts
  src/scripts/retrieve-releases-youtube-music/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  prettier --write: any of: *.{json,css,scss,md,yml}
